node_modules/
public/clase1.html
public/clase2.html
public/clase3.html
public/clase4.html
public/clase5.html
public/clase6.html
public/clase7.html
public/clase8.html
public/clase9.html
public/clase10.html
public/clase11.html
public/clase12.html
public/clase13.html
public/LICENCE.txt
.backup.git.viejo/